<!-- Modal Para mostrar los ganadores de los distintos juegos - "Ranking" -->
<div class="modal fade modal-margin" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-header centerBarraTop" >
        <i data-dismiss="modal" class="material-icons backBTN" (click)="closeModal()" >arrow_back</i>
        <label id="defaultModalLabel" class="modalTitulo" >Ranking</label>
      </div>

      <div class="modal-body" >
        <div *ngIf="isEmptyList; else Ranking" >
          <div class="iconPosition">
            <i class="material-icons iconSize">local_car_wash</i>
            <span class="notListLetter">No se han creado carreras.</span>
          </div>
        </div>
        <ng-template #Ranking>
          <div *ngFor="let partida of listaJuegos">
            <div class="cajaInformacion" [ngClass]="{ 'verdeClaro' : partida.pista == 'Bosque', 'cafeClaro' : partida.pista == 'Desierto', 'rojoClaro' : partida.pista == 'Fuego'}" >
              <div class="idText">
                <strong>Id:&nbsp;</strong> {{partida.id}}
              </div>
              <div class="ganadorText">
                <strong>Ganador:&nbsp;</strong>{{partida.ganador}}
              </div>
              <div class="tiempoText">
                <strong>
                  <span *ngIf="partida.tipo=='Carrera'; else textContraTiempo">Carrera:</span>
                  <ng-template #textContraTiempo>ContraTiempo:</ng-template>
                </strong>{{partida.tiempo.substring(14,19)}}
              </div>
              <div class="pistaText">
                <strong>Pista:</strong> {{partida.pista}}
              </div>
              <div class="vueltasText">
                <strong>Vueltas:&nbsp;</strong> {{partida.vueltas}}
              </div>
            </div>
            <hr class="solid">
          </div>
        </ng-template>
        <button id="closeModalBTN" type="button" class="btn btn-danger btnClose" data-dismiss="modal" (click)="closeModal()" >Cerrar</button>

      </div>
    </div>
  </div>
</div>
