/* Divider */
hr.solid {
  border-top: 3px solid #bbb;
}
.notListLetter{
  font-weight: bold;
  font-size: 20px;
  font-style: initial;
}
.iconSize{
  font-size: 200px;
  display: block;
}
.iconPosition{
  text-align: center;
  margin-bottom: 4%;
}

.centerBarraTop{
  background-color: #2b669a;
  color: white;
  text-align: center;
}
.backBTN{
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 35px;
}
.modalTitulo{
  font-size: 25px;
}
.cajaInformacion{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: no-drop;
  font-size: 25px;
  text-align: center;
}
.idText{
  display: inline-block;
  width: 20%;
}
.ganadorText{
  display: inline-block;
  width: 60%;
}
.tiempoText{
  display: inline-block;
  width: 38%;
}
.pistaText{
  display: inline-block;
  width: 27%;
}
.vueltasText{
  display: inline-block;
  width: 28%;
}
.btnClose{
  font-size: 20px;
  width: 100%;
  justify-content: center;
}
.verdeClaro{
  background-color: lightgreen;
}
.verdeClaro:hover{
  background-color: #FFB600;
}
.cafeClaro{
  background-color: sandybrown;
}
.cafeClaro:hover{
  background-color: #FFB600;
}
.rojoClaro{
  background-color: lightcoral;
}
.rojoClaro:hover{
  background-color: #FFB600;
}

@media (max-width: 992px) {
  .modal-lg{
    width: 88% !important;
  }
  .cajaInformacion{
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .cajaInformacion{
    font-size: 20px;
  }
  .idText{
    display: inline-block;
    width: 20%;
  }
  .ganadorText{
    display: inline-block;
    width: 80%;
  }
  .tiempoText{
    display: inline-block;
    width: 50%;
  }
  .pistaText{
    display: inline-block;
    width: 50%;
  }
  .vueltasText{
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 530px) {
  .cajaInformacion{
    font-size: 18px;
  }

}
@media (max-width: 465px) {
  .cajaInformacion{
    font-size: 16px;
    height: 85px;

  }
  .tiempoText{
    width: 100%;
  }
}
