<div class='leftnav'>
  <div class="tituloPartidas">
    Partidas:
  </div>
  <hr>
  <div *ngFor="let partida of this.partidas;index as i">
    <span class="seleccionado" [ngClass]="{'gris':this.i==this.indexPartida}" (click)="this.updateListaJugadores(this.i)">
      <div class="idSize">
        <strong>ID:&nbsp;</strong>
        {{partida.id}}
      </div>
      <div class="tipoSize">
        <strong>Tipo:&nbsp;</strong>
        {{partida.tipo}}
      </div>
      <div class="pistaSize">
        <strong>Pista:&nbsp;</strong>
        {{partida.pista}}
      </div>
      <div class="vueltasSize">
        <strong>Vueltas:&nbsp;</strong>
        {{partida.vueltas }}
      </div>

    </span>
    <hr>
  </div>


</div>
<div class='rightnav' *ngIf="this.partidas.length!=0">
  <div style="text-align: center">
    <strong class="tituloJugadores">Jugadores({{this.partidas[indexPartida].listaJugadores.length}}/{{this.partidas[this.indexPartida].cantJugadores}}):</strong>
    <div class="nombreJugadores" *ngFor="let jugador of this.jugadores">{{jugador.nombre}}</div>
    <div class="cajaSelecion" *ngIf="!(this.partidas[indexPartida].listaJugadores.length==this.partidas[this.indexPartida].cantJugadores)">
      <button type="button" class="btn btn-success btnUnirse" (click)="unirsePartida()" >
        <i class="material-icons">directions_car</i>
        <span class="textoBotonUnirse">Unirse</span>
      </button>
    </div>
  </div>

</div>
